<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="RegistrationConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=G:\Sem4\WT\WT-Lab\Experiments\Ploginform\App_Data\Database.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <sessionState mode="InProc" cookieless="true" timeout="5" />
      <!--  <authentication mode="Forms">
               <forms loginUrl="Login.aspx">
                  <credentials passwordFormat="Clear">
                     <user username= "Harshit" password="1234"/>
                  </credentials>
               </forms>
            </authentication>
            
            <authorization>
               <deny users="?" / >
            </authorization>
  -->
    </system.web>
  
  <appSettings>
    <add key ="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>

 
</configuration>
