{% extends 'base.html' %}
{% load static %}

{%block body%}
<div class="new-game-area section pb-50 pb-lg-30 pb-md-20 pb-sm-10 pb-xs-0" id="games" style="margin-top: 100px; margin-bottom: 100px;">
<div class="container">

    <div class="row game-slide mt-50">
        <div class="col-4">
            <div class="single-game mb-50">
                <div class="game-img">
                    <a href="game_details/271590"><img src="{% static 'webapp/images/wallpapers/g1_1.jpg' %}"
                            height="210px;" alt=""></a>
                </div>
                <div class="game-content">
                    <h4><a href="game_details/271590">Grand Theft Auto V</a></h4>
                    <span>pc/xbox/ps4</span>
                </div>
            </div>
            <div class="single-game mb-50">
                <div class="game-img">
                    <a href="game_details/812140"><img src="{% static 'webapp/images/wallpapers/g2_1.jpg' %}"
                            alt=""></a>
                </div>
                <div class="game-content">
                    <h4><a href="game_details/812140">Assassin's Creed Odyssey</a></h4>
                    <span>pc/xbox/ps4</span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="single-game mb-50">
                <div class="game-img">
                    <a href="game_details/578080"><img src="{% static 'webapp/images/wallpapers/g3_1.jpg' %}" alt=""></a>
                </div>
                <div class="game-content">
                    <h4><a href="game_details/578080">PUBG</a></h4>
                    <span>pc/xbox/ps4/android/ios</span>
                </div>
            </div>

            <div class="single-game mb-50">
                <div class="game-img">
                    <a href="game_details/552520"><img src="{% static 'webapp/images/wallpapers/g4_1.jpg' %}" alt=""></a>
                </div>
                <div class="game-content">
                    <h4><a href="game_details/552520">Far Cry 5</a></h4>
                    <span>pc/xbox/ps4</span>
                </div>
            </div>

        </div>
        <div class="col-4">
            <div class="single-game mb-50">
                <div class="game-img">
                    <a href="game_details/252950"><img src="{% static 'webapp/images/wallpapers/g5_1.jpg' %}" alt=""></a>
                </div>
                <div class="game-content">
                    <h4><a href="game_details/252950">Rocket League</a></h4>
                    <span>pc/xbox/ps4</span>
                </div>
            </div>

            <div class="single-game mb-50">
                <div class="game-img">
                    <a href="game_details/466560"><img src="{% static 'webapp/images/wallpapers/g6_1.jpg' %}" alt=""></a>
                </div>
                <div class="game-content">
                    <h4><a href="game_details/466560">Northgard</a></h4>
                    <span>pc/xbox/ps4</span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="single-game mb-50">
                <div class="game-img">
                    <a href="game_details/730"><img src="{% static 'webapp/images/wallpapers/g7_1.jpg' %}" alt=""></a>
                </div>
                <div class="game-content">
                    <h4><a href="game_details/730">Counter Strike Global offensive</a></h4>
                    <span>pc/xbox/ps4</span>
                </div>
            </div>

            <div class="single-game mb-50">
                <div class="game-img">
                    <a href="game_details/359550"><img src="{% static 'webapp/images/wallpapers/g8_1.jpg' %}" alt=""></a>
                </div>
                <div class="game-content">
                    <h4><a href="game_details/359550">Tom Clancy's Rainbow Six Siege</a></h4>
                    <span>pc/xbox/ps4</span>
                </div>
            </div>

        </div>
        <div class="col-4">

            <div class="single-game mb-50">
                <div class="game-img">
                    <a href="game_details/346110"><img src="{% static 'webapp/images/wallpapers/g9_1.jpg' %}" alt=""></a>
                </div>
                <div class="game-content">
                    <h4><a href="game_details/346110">ARK Survival Evolved</a></h4>
                    <span>pc/xbox/ps4/android/ios</span>
                </div>
            </div>

            <div class="single-game mb-50">
                <div class="game-img">
                    <a href="game_details/704270"><img src="{% static 'webapp/images/wallpapers/g10_1.jpg' %}" alt=""></a>
                </div>
                <div class="game-content">
                    <h4><a href="game_details/704270">Generation Zero</a></h4>
                    <span>pc/xbox/ps4</span>
                </div>
            </div>
        </div>
        <div class="col-4">

            <div class="single-game mb-50">
                <div class="game-img">
                    <a href="game_details/381210"><img src="{% static 'webapp/images/wallpapers/g11_1.jpg' %}" alt=""></a>
                </div>
                <div class="game-content">
                    <h4><a href="game_details/381210">Dead by Daylight</a></h4>
                    <span>pc/xbox/ps4/android</span>
                </div>
            </div>

            <div class="single-game mb-50">
                <div class="game-img">
                    <a href="game_details/252490"><img src="{% static 'webapp/images/wallpapers/g12_1.jpg' %}" alt=""></a>
                </div>
                <div class="game-content">
                    <h4><a href="game_details/252490">Rust</a></h4>
                    <span>pc</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock body %}