<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Funding Stack</display-name>
	<servlet>
		<description>
		</description>
		<display-name>CrowdRegisterServlet</display-name>
		<servlet-name>CrowdRegisterServlet</servlet-name>
		<servlet-class>controller.CrowdRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InnovatorRegisterServlet</display-name>
		<servlet-name>InnovatorRegisterServlet</servlet-name>
		<servlet-class>controller.InnovatorRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Dao</display-name>
		<servlet-name>Dao</servlet-name>
		<servlet-class>dao.Dao</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CrowdLoginServlet</display-name>
		<servlet-name>CrowdLoginServlet</servlet-name>
		<servlet-class>controller.CrowdLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InnovatorLoginServlet</display-name>
		<servlet-name>InnovatorLoginServlet</servlet-name>
		<servlet-class>controller.InnovatorLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgotServlet</display-name>
		<servlet-name>ForgotServlet</servlet-name>
		<servlet-class>controller.ForgotServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>OtpServlet</display-name>
		<servlet-name>OtpServlet</servlet-name>
		<servlet-class>controller.OtpServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeveloperForgotServlet</display-name>
		<servlet-name>DeveloperForgotServlet</servlet-name>
		<servlet-class>controller.DeveloperForgotServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CrowdForgotServlet</display-name>
		<servlet-name>CrowdForgotServlet</servlet-name>
		<servlet-class>controller.CrowdForgotServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InnovatorForgotServlet</display-name>
		<servlet-name>InnovatorForgotServlet</servlet-name>
		<servlet-class>controller.InnovatorForgotServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CrowdOtpServlet</display-name>
		<servlet-name>CrowdOtpServlet</servlet-name>
		<servlet-class>controller.CrowdOtpServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InnovatorOtpServlet</display-name>
		<servlet-name>InnovatorOtpServlet</servlet-name>
		<servlet-class>controller.InnovatorOtpServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UploadServlet</display-name>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>controller.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UploadServlet2</display-name>
		<servlet-name>UploadServlet2</servlet-name>
		<servlet-class>controller.UploadServlet2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateProjectServlet</display-name>
		<servlet-name>UpdateProjectServlet</servlet-name>
		<servlet-class>controller.UpdateProjectServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InnovatorNewPasswordServlet</display-name>
		<servlet-name>InnovatorNewPasswordServlet</servlet-name>
		<servlet-class>controller.InnovatorNewPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CrowdNewPasswordServlet</display-name>
		<servlet-name>CrowdNewPasswordServlet</servlet-name>
		<servlet-class>controller.CrowdNewPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CrowdChangePasswordServlet</display-name>
		<servlet-name>CrowdChangePasswordServlet</servlet-name>
		<servlet-class>controller.CrowdChangePasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CrowdProfile</display-name>
		<servlet-name>CrowdProfile</servlet-name>
		<servlet-class>controller.CrowdProfile</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InnovatorProfile</display-name>
		<servlet-name>InnovatorProfile</servlet-name>
		<servlet-class>controller.InnovatorProfile</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InnovatorChangePasswordServlet</display-name>
		<servlet-name>InnovatorChangePasswordServlet</servlet-name>
		<servlet-class>controller.InnovatorChangePasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InnovatorLogoutServlet</display-name>
		<servlet-name>InnovatorLogoutServlet</servlet-name>
		<servlet-class>controller.InnovatorLogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CrowdLogoutServlet</display-name>
		<servlet-name>CrowdLogoutServlet</servlet-name>
		<servlet-class>controller.CrowdLogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChatClient</display-name>
		<servlet-name>ChatClient</servlet-name>
		<servlet-class>controller.ChatClient</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChatClient2</display-name>
		<servlet-name>ChatClient2</servlet-name>
		<servlet-class>controller.ChatClient2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChatServer</display-name>
		<servlet-name>ChatServer</servlet-name>
		<servlet-class>controller.ChatServer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FundServlet</display-name>
		<servlet-name>FundServlet</servlet-name>
		<servlet-class>controller.FundServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrowdRegisterServlet</servlet-name>
		<url-pattern>
		/CrowdRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InnovatorRegisterServlet</servlet-name>
		<url-pattern>
		/InnovatorRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Dao</servlet-name>
		<url-pattern>
		/Dao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrowdLoginServlet</servlet-name>
		<url-pattern>
		/CrowdLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InnovatorLoginServlet</servlet-name>
		<url-pattern>
		/InnovatorLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotServlet</servlet-name>
		<url-pattern>
		/ForgotServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OtpServlet</servlet-name>
		<url-pattern>
		/OtpServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeveloperForgotServlet</servlet-name>
		<url-pattern>
		/DeveloperForgotServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrowdForgotServlet</servlet-name>
		<url-pattern>
		/CrowdForgotServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InnovatorForgotServlet</servlet-name>
		<url-pattern>
		/InnovatorForgotServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrowdOtpServlet</servlet-name>
		<url-pattern>
		/CrowdOtpServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InnovatorOtpServlet</servlet-name>
		<url-pattern>
		/InnovatorOtpServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>
		/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet2</servlet-name>
		<url-pattern>
		/UploadServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProjectServlet</servlet-name>
		<url-pattern>
		/UpdateProjectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InnovatorNewPasswordServlet</servlet-name>
		<url-pattern>
		/InnovatorNewPasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrowdNewPasswordServlet</servlet-name>
		<url-pattern>
		/CrowdNewPasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrowdChangePasswordServlet</servlet-name>
		<url-pattern>
		/CrowdChangePasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrowdProfile</servlet-name>
		<url-pattern>
		/CrowdProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InnovatorProfile</servlet-name>
		<url-pattern>
		/InnovatorProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InnovatorChangePasswordServlet</servlet-name>
		<url-pattern>
		/InnovatorChangePasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InnovatorLogoutServlet</servlet-name>
		<url-pattern>
		/InnovatorLogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrowdLogoutServlet</servlet-name>
		<url-pattern>
		/CrowdLogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FundServlet</servlet-name>
		<url-pattern>
		/FundServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>