<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GAME INSIGHTER</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link href="\static\images\favicon.bin" type="img/x-icon" rel="shortcut icon">
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="\static\css\bootstrap.min.css">
    <link rel="stylesheet" href="\static\css\qanto.css">
    <link rel="stylesheet" href="\static\css\bauhaus93.css">
    <link rel="stylesheet" href="\static\css\font-awesome.min.css">
    <link rel="stylesheet" href="\static\css\icofont.min.css">
    <link rel="stylesheet" href="\static\css\plugins.css">
    <link rel="stylesheet" href="\static\css\helper.css">
    <link rel="stylesheet" href="\static\css\style.css">   
    <!-- Modernizr JS -->
    <script src="\static\js\vendor\modernizr-2.8.3.min.js"></script>
</head>

<body>
    
<div id="main-wrapper">
   
    <!--Header section start-->
      <header class="header header-static bg-black header-sticky">
        <div class="menu-right">
            <div class="container-fluid">
                <div class="container-1520 m-0" >
                        <div class="featured-title" >
                            <h2 style="color:white;justify-content:center;">GAME INSIGHTER</h2>
                        </div>
                </div>
                <div class="row" style="margin:0;">
                    <!--Menu start-->
                    <div class="col-lg-12 col-12 order-md-3 order-lg-2 d-flex justify-content-center " >
                        <nav class="main-menu menu-style-2">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/games">Games</a></li>
                                <li><a href="/tournaments">Tournaments</a></li>
                                <li><a href="#game_trailers">Game Videos</a></li>
                                <li><a href="/blog">Blogs</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <div style="width: 160px;"></div>
<!--                                <li><a href="/login">LOGIN</a></li>-->
<!--                                <li><a href="/register">REGISTER</a></li>-->
                                </ul>
                        </nav>
                    </div>
                    <!--Menu end-->
                </div>
                <div class="row">
                    <div class="col-12 d-flex d-lg-none">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
          </div>
        </div>
    </header>
    <!--Header section end-->
    
    <!--Page Banner Area Start-->
    <div class="page-banner-2" style="background-image: url(\static/images/bg/page-bg-2.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <!--Hero Content start-->
                    <div class="page-content-2">
                        <h1>Hi! Howdy</h1>
                        <h3>our contact information</h3>
                    </div>
                    <!--Hero Content end-->

                </div>
                <div class="col-md-6 mx-auto">
                    <div class="page-front-image">
                        <img src="\static\images\banner\page-banner-front.png" width="400px" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Banner Area End-->
    
    <!--Contact Section Start-->
    <div class="contact-section section pt-10 pt-lg-10 pt-md-10 pt-sm-10 pt-xs-20 pb-xs-45">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="contact-address-wrap">
                        <h2>for more information <br> you can contact with us</h2>
                        <div class="contact-address">
                            <div class="contact-information">
                                <h4>Address</h4>
                                <p>University of Windsor, Windsor,Ontario, CANADA.</p>
                            </div>
                            <div class="contact-information">
                                <h4>Phone</h4>
                                <p><a href="tel:01234567890">01234 567 890</a><a href="tel:01234567891">01234 567 891</a></p>
                            </div>
                            <div class="contact-information">
                                <h4>Web</h4>
                                <p><a href="mailto:gameinsighter@gmail.com">gameinsighter@gmail.com</a><a href="#">www.gameinsighter.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="contact-form mt-90 mt-lg-70 mt-md-60 mt-sm-50 mt-xs-20">
                        <h4>Leave a Message</h4>
                        <form action="#" class="comment-form">
                            <div class="row">
                                <div class="col-md-6 col-12 mb-30">  
                                    <input type="text" name="name" placeholder="Name">
                                </div>

                                <div class="col-md-6 col-12 mb-30">   
                                    <input type="email" name="email" placeholder="Email">
                                </div>

                                <div class="col-12 mb-30">   
                                    <textarea name="message" placeholder="Message"></textarea>
                                </div>

                                <div class="col-12">
                                    <input type="submit" value="send now">
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Contact Section End-->
    
    <!--Projects section start-->

    <!--Projects section end-->
    
    <!--Footer section start-->
   <footer class="footer-section style-2 section bg-dark mt-30" >

        <div class="footer-top section pt-80 pt-lg-70 pt-md-60 pt-sm-50 pt-xs-40 pb-80 pb-lg-70 pb-md-60 pb-sm-15 pb-xs-40" style="color:black;">
            <div class="container container-1520">
                <div class="row justify-content-lg-between">
                    <div class="col-xl-3 col-lg-2 col-md-3">
                        <div class="footer-widget">
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-9">
                        <div class="footer-widget">
                            <div class="footer-nav">
                                <nav>
                                    <ul>
                                        <li><a href="#">forums</a></li>
                                        <li><a href="#">demo</a></li>
                                        <li><a href="#">support</a></li>
                                        <li><a href="#">terms & conditions</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-12">
                        <div class="footer-widget">
                            <div class="footer-social">
                               <span>follow us:</span>
                                <ul>
                                    <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#"><i class="icofont-instagram"></i></a></li>
                                    <li><a href="#"><i class="icofont-youtube-play"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>

        <div class="footer-bottom border-color section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright text-center">
                            <p>Copyright &copy;2018 . All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </footer>
     <!--Footer section end-->
    
</div>

<!-- Placed js at the end of the document so the pages load faster -->

<!-- All jquery file included here -->
<script src="\static\js\vendor\jquery-1.12.4.min.js"></script>
<script src="\static\js\popper.min.js"></script>
<script src="\static\js\bootstrap.min.js"></script>
<script src="\static\js\plugins.js"></script>
<script src="\static\js\main.js"></script>

</body>

</html>